.game-item {
  position: relative;
}

.game-item__link {
  display: flex;
  justify-content: space-between;
}

.game-item__remove-button {
  position: absolute;
  left: 100%;
  margin-left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.game-item__name {
  display: block;
  width: 200px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.game-item__players-count {
  width: 30px;
  text-align: right;
  margin-left: 15px;
  text-align: left;
}

.game-item__players-count__max {
  font-size: 8px;
  margin-left: 4px;
  color: #AAA;
}