.player {
  position: absolute;
  display: flex;
  align-items: center;
  width: var(--player-width);
}

.player--direction-right {
  flex-direction: row;
  transform: translateY(-50%);
}

.player--direction-left {
  right: 0;
  flex-direction: row-reverse;
  transform: translateY(-50%);
}

.player--direction-bottom {
  top: 0;
  flex-direction: column;
  transform: translateX(-50%);
}

/* CARDS */

.player__cards {
  position: absolute;
  top: 100%;
  margin-top: 4px;
  left: 0;
  display: flex;
  width: var(--card-width--player);
  height: var(--card-height--player);
}


.player--direction-left .player__cards {
  left: auto;
  right: 0;
}

.player__cards__card-wrapper {
  position: absolute;
  transform-origin: bottom center;
}

.player__cards__card-wrapper:nth-child(1) {
  transform: rotate(-10deg);
}

.player__cards__card-wrapper:nth-child(2) {
  transform: rotate(-5deg);
}

.player__cards__card-wrapper:nth-child(3) {
  transform: rotate(0deg);
}

.player__cards__card-wrapper:nth-child(4) {
  transform: rotate(5deg);
}

.player__cards__card-wrapper:nth-child(5) {
  transform: rotate(-10deg);
}