.player {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--player-width);
  transform: translate(-50%, -50%);
}

/* CARDS */

.player__cards {
  display: flex;
  margin-top: 20px;
  width: var(--card-width--player);
  height: var(--card-height--player);
}

.player__cards__card-wrapper {
  position: absolute;
  transform-origin: bottom center;
}

.player__cards__card-wrapper:nth-child(1) {
  transform: rotate(-10deg);
}

.player__cards__card-wrapper:nth-child(2) {
  transform: rotate(-5deg);
}

.player__cards__card-wrapper:nth-child(3) {
  transform: rotate(0deg);
}

.player__cards__card-wrapper:nth-child(4) {
  transform: rotate(5deg);
}

.player__cards__card-wrapper:nth-child(5) {
  transform: rotate(-10deg);
}