[class*="svg-card-path__path"] {
  fill: #FFFFFF;
}

.svg-card-path .rock-color-1 {
  fill: #545452;
}

.svg-card-path .rock-color-2 {
  fill: #686867;
}

.svg-card-path .gold-color-1 {
  fill: #FFD255;
}

.svg-card-path .gold-color-2 {
  fill: #FFC70C;
}

.svg-card-path .gold-color-3 {
  fill: #FFF2CF;
}

.svg-card-path .gold-color-4 {
  fill: #FFE69F;
}

.svg-card-path .ladder-color-1 {
  fill: #AA0C00;
}

.svg-card-path .ladder-color-2 {
  fill: #D11900;
}

.svg-card-path .ladder-color-3 {
  fill: #E81B00;
}