.card {
  position: relative;
  background: #fff;
  border-radius: var(--card-border-radius);
  width: var(--card-width);
  height: var(--card-height);
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  border: var(--card-border-width) solid rgba(0, 0, 0, .1);
}

.card__inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* .card--is-playable {
  transition: transform .2s ease-out;
  cursor: pointer;
  transform: translateY(-10px);
}

.card--is-playable:hover {
  transform: translateY(var(--card-hover-translateY));
} */

.card__layout {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* ACTION */

.card--ACTION .card__inner::after {
  content: "";
  font-size: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -17px;
  margin-left: -17px;

  border: 2px solid grey;
  border-radius: 50%;
}

.card--action-BLOCK .card__inner::after {
  border-color: red;
}

.card--action-FREE .card__inner::after {
  border-color: green;
}

.card--action-DESTROY .card__inner::after {
  border-color: grey;
  background-color: grey;
}

.card--action-REVEAL .card__inner::after {
  border-color: yellowgreen;
  background-color: yellowgreen;
}

.card__subtype {
  font-size: 10px;
  text-align: center;
}

/* PATH */

.card--PATH {
  background: #DDD;
}

.card--PATH .card__inner::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  margin-left: -5px;

  border-radius: 50%;
}

.card--PATH.card--subtype-GOLD .card__inner::after {
    background-color: yellow;
}

.card--PATH.card--subtype-ROCK .card__inner::after {
    background-color: darkslategrey;
}

.card--PATH.card--subtype-LADDER .card__inner::after {
  content: "H";
  font-weight: bold;
  color: red;
}

/* HIDDEN */

.card--HIDDEN {
  background: #BBB;
}

/* HAND */

.card--hand {
  border-width: var(--card-border-width--hand);
  width: var(--card-width--hand);
  height: var(--card-height--hand);

  transition: transform .2s ease-out;
  cursor: pointer;
  transform: translateY(-10px);
}

/* .card--is-playable {
  transition: transform .2s ease-out;
  cursor: pointer;
  transform: translateY(-10px);
}

.card--is-playable:hover {
  transform: translateY(var(--card-hover-translateY));
} */

.card--hand:hover {
  transform: translateY(var(--card-hover-translateY--hand));
}

.card--hand.card--selected {
  transform: translateY(var(--card-hover-translateY--hand));
  border-color: red;
}

.card__rotate {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

/* MALUS */

.card--malus {
  border-width: var(--card-border-width--malus);
  width: var(--card-width--malus);
  height: var(--card-height--malus);
}

.card--malus.card--is-playable:hover {
  transform: translateY(var(--card-hover-translateY--malus));
}

/* PLAYER */

.card--player {
  border-width: var(--card-border-width--player);
  width: var(--card-width--player);
  height: var(--card-height--player);
}

.card--player.card--is-playable:hover {
  transform: translateY(var(--card-hover-translateY--player));
}
