.current-player {
  /* position: absolute;
  bottom: 0;
  left: 10px; */
  z-index: var(--z-currentPlayer);

  display: flex;
  flex-direction: column;
}

.current-player--playing {
  background: rgb(100, 220, 150);
}

.current-player__hand {
  margin-top: 20px;
  margin-bottom: -30px;
  display: flex;
  max-width: 100%;
}

.current-player__hand__card-wrapper {
  margin-left: 3px;
}

.current-player__hand__card-wrapper .card {
  max-width: none;
}

.game--status-WAITING_FOR_PLAYERS .current-player {
  margin-bottom: 40px;
}

.current-player__head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.current-player .player-malus .card {
  transform: scale(2) translateY(-30%);
}

@media only screen and (max-width: 530px) {
  .current-player--selected-card {
    left: 10px;
    transform: none;
  }

  .current-player--selected-card .player-status,
  .current-player--selected-card .card:not(.card--selected) {
    display: none;
  }

  .current-player--selected-card .card--selected {
    left: 0;
  }
  
  .current-player--selected-card .card--selected .card__rotate {
    left: 100%;
    bottom: 50%;
    margin-left: 20px;
    transform: none;
  }
}