.discard {
  position: absolute;
  z-index: var(--z-discard);
  width: var(--card-width);
  height: var(--card-height);
  top: 50%;
  left: 30px;
  transform: translateY(-180%);
  margin-left: 4px;
  border: 2px dotted rgba(255, 255, 255, .3);
  border-radius: var(--card-border-radius);
}

.card--header-actions--discard {
  display: none;
}

@media only screen and (max-width: 700px) {
  .discard {
    display: none;
  }

  .card--header-actions--discard {
    display: block;
  }
}