.game-background {
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.game-background::after {
  content: '';
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 20%, rgba(0,0,0,.5) 80%, rgba(0,0,0,.7) 100%);
}

.game-background__canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.game-background__index-0 {
  background-color: #39333d;
}

.game-background__index-1 {
  background-color: #3e3842;
}

.game-background__index-2 {
  background-color: #4a444e;
}

.game-background__index-3 {
  background-color: #504a54;
}