.players-list {
  list-style: none;
  display: flex;
  height: 68px;
  justify-content: space-between;
  z-index: var(--z-playersList);
  background: #4d207f;
  padding: 0 18px;
}

.player-list__item--playing .player-avatar {
  background: rgb(100, 220, 150);
  box-shadow: 0 0 3px 3px rgba(100, 220, 150, 0.5);
}

.player-list__item--playing .player__name {
  color: rgb(100, 220, 150);
}

.player-list__item:first-child:last-child {
  flex: 1;
  display: flex;
  justify-content: center;
}