.player {  
  color: #FFF;
}

.player--highlighted {
  border: 2px solid red;
}

.player__inner {
  display: flex;
  flex-direction: column;
}

.player__name {
  white-space: nowrap;
  width: 100%;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px 0;
}

.player .player-gold {
  margin-left: 5px;
}

.player__group {
  display: flex;
  justify-content: space-between;
}

.player__group--cards {
  margin-top: 5px;
}

.player .player-malus {
  margin-top: -5px;
}

/* CARDS */

.player__cards {
  display: flex;
  width: var(--card-width--player);
  height: var(--card-height--player);
}

.player__cards__card-wrapper {
  position: absolute;
  transform-origin: bottom center;
}

.player__cards__card-wrapper:nth-child(1) {
  transform: rotate(-10deg);
}

.player__cards__card-wrapper:nth-child(2) {
  transform: rotate(-5deg);
}

.player__cards__card-wrapper:nth-child(3) {
  transform: rotate(0deg);
}

.player__cards__card-wrapper:nth-child(4) {
  transform: rotate(5deg);
}

.player__cards__card-wrapper:nth-child(5) {
  transform: rotate(-10deg);
}