.players-list {
  position: relative;
  list-style: none;
  display: flex;
  height: 44px;
  justify-content: space-between;
  z-index: var(--z-playersList);
  padding: 0 58px;
  background: #4d207f;
}

.players-list::before {
  content:"";
  position: absolute;
  left: 0;
  top: 100%;
  right: 0;
  height: 26px;
  background:  url('../assets/header-bg.png') repeat-x bottom;
}

.player-list__item--playing .player-avatar {
  background: var(--color-green);
  box-shadow: 0 0 13px 5px rgba(169, 239, 0, .3);
}

.player-list__item--playing .player__name {
  color: var(--color-green);
}

.player-list__item:first-child:last-child {
  flex: 1;
  display: flex;
  justify-content: center;
}